logicApps/sa-sql-scheduled.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "interval": 1,
                    "frequency": "Day",
                    "schedule": {
                        "hours": [
                            2
                        ],
                        "minutes": [
                            0
                        ]
                    }
                },
                "evaluatedRecurrence": {
                    "interval": 1,
                    "frequency": "Day",
                    "schedule": {
                        "hours": [
                            2
                        ],
                        "minutes": [
                            0
                        ]
                    }
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "HTTP": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2022-10-01",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "query": "resources | where type =~ 'microsoft.hybridcompute/machines' | extend status = tostring(properties.status) | project id, JoinID = toupper(id), status, subId=subscriptionId,resourceGroup,location | where status =~'Connected' | join kind=inner (       resources         | where type =~ 'microsoft.hybridcompute/machines/extensions' | where properties.type in ('WindowsAgent.SqlServer','LinuxAgent.SqlServer')         | extend ExtensionType = tostring(properties.type)         | extend LicenseType=tostring(iif(isnull( properties.settings.LicenseType),'NoLicense',properties.settings.LicenseType))         | extend pCoreLic = tostring(properties.settings.UsePhysicalCoreLicense.IsApplied)         | extend provisioningState =  tostring(properties.provisioningState)         | parse id with * '/providers/Microsoft.HybridCompute/machines/' machineName '/extensions/' *         | project MachineId = toupper(substring(id, 0, indexof(id, '/extensions'))), provisioningState, HostName=toupper(machineName),LicenseType,pCoreLic,ExtensionType         | where provisioningState =~'Succeeded'                 ) on $left.JoinID == $right.MachineId     |project id,status,    HostName,LicenseType,pCoreLic,subId,resourceGroup,location, ExtensionType | project  id,HostName, status, LicenseType,subId,resourceGroup,location, ExtensionType | where LicenseType in ('LicenseOnly','NoLicense')"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "totalRecords": {
                                "type": "integer"
                            },
                            "count": {
                                "type": "integer"
                            },
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "HostName": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "LicenseType": {
                                            "type": "string"
                                        },
                                        "subId": {
                                            "type": "string"
                                        },
                                        "resourceGroup": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "ExtensionType": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "HostName",
                                        "status",
                                        "LicenseType",
                                        "subId",
                                        "resourceGroup",
                                        "location",
                                        "ExtensionType"
                                    ]
                                }
                            },
                            "facets": {
                                "type": "array"
                            },
                            "resultTruncated": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "For_each": {
                "foreach": "@body('Parse_JSON')?['data']",
                "actions": {
                    "HTTP_1": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://management.azure.com@{item()?['id']}/extensions/@{item()?['ExtensionType']}?api-version=2025-01-13",
                            "method": "PUT",
                            "body": {
                                "location": "@{item()?['location']}",
                                "properties": {
                                    "publisher": "Microsoft.AzureData",
                                    "type": "@{item()?['ExtensionType']}",
                                    "settings": {
                                        "LicenseType": "Paid"
                                    }
                                }
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}